# Copiez ce fichier en ".env" et modifiez les valeurs avant la mise en production

PORT=4000

# IMPORTANT : changez cette valeur en production (chaîne aléatoire longue)
JWT_SECRET=change-moi-en-production-asadiya-flotte-pro
